{% assign base_nav_link = "/portfolio/" %}
{% assign home_nav_link = base_nav_link %}
{% assign work_nav_link = home_nav_link | append: "experience/" %}
{% assign projects_nav_link = home_nav_link | append:  "projects/" %}
{% assign research_nav_link = home_nav_link | append:  "research/" %}
{% assign contact_nav_link = home_nav_link | append:  "#contact" %}
{% assign about_nav_link = home_nav_link | append:  "#about" %}
{% assign skills_nav_link = home_nav_link | append:  "#skills" %}

{% if current == "index" %}
    {% assign home_nav_link = "#" %}
    {% assign about_nav_link = "#about" %}
    {% assign skills_nav_link = "#skills" %}
    {% assign contact_nav_link = "#contact" %}
{% elsif current == "experience" %}
    {% assign work_nav_link = "#" %}
{% elsif current == "projects" %}
    {% assign projects_nav_link = "#" %}
{% elsif current == "research" %}
    {% assign research_nav_link = "#" %}
{% endif %}