---
layout: main-layout.liquid
title: Portfolio | Lewis Chambers
this_page: index
header_title: Lewis Chambers
header_subtitle: Software Developer, DevOps Engineer & Machine Designer
---
{% include "helpers/nav-links.liquid" %}
<!-- About Me -->
{% include "about-me" %}

<!-- Skills -->
<section id="skills">
    <div class="section-container">
        <h2 class="section-title">Skills</h2>
        <div class="skills-container">
            <h3 class="skills-subtitle">Infrastructure & DevOps</h3>
            <div class="skills-grid">
                <div class="skills__tag tech__tag">Puppet</div>
                <div class="skills__tag tech__tag">CI/CD</div>
                <div class="skills__tag tech__tag">AWS</div>
                <div class="skills__tag tech__tag">Docker</div>
                <div class="skills__tag tech__tag">Bash</div>
                <div class="skills__tag tech__tag">GitLab</div>
                <div class="skills__tag tech__tag">Git</div>
            </div>
            <h3 class="skills-subtitle">Server Administration</h3>
            <div class="skills-grid">
                <div class="skills__tag tech__tag">Linux</div>
                <div class="skills__tag tech__tag">CentOS</div>
                <div class="skills__tag tech__tag">Nginx</div>
                <div class="skills__tag tech__tag">Django</div>
            </div>
            <h3 class="skills-subtitle">Back End</h3>
            <div class="skills-grid">
                <div class="skills__tag tech__tag">Python</div>
                <div class="skills__tag tech__tag">C#</div>
                <div class="skills__tag tech__tag">MATLAB</div>
            </div>
            <h3 class="skills-subtitle">Front End</h3>
            <div class="skills-grid">
                <div class="skills__tag tech__tag">HTML</div>
                <div class="skills__tag tech__tag">CSS</div>
                <div class="skills__tag tech__tag">JavaScript</div>
            </div>
            <h3 class="skills-subtitle">Languages</h3>
            <div class="skills-grid">
                <div class="skills__tag tech__tag">English (Native)</div>
                <div class="skills__tag tech__tag">Chinese (Basic)</div>
            </div>
        </div>
    </div>
</section>

<!-- Work Experience -->
<section id="work">
    <div class="section-container flex-vertical">
        <h2 class="section-title">Where I've Worked</h2>
        {% include "work-experience", max_roles: 3, max_tags: 0, max_jobs: 3, make_links: true %}
        <div class="button">
            <a href="{{ work_nav_link }}">View All Work History</a>
        </div>
    </div>
</section>

<!-- Projects -->
<section id="projects">
    <div class="section-container flex-vertical">
        <h2 class="section-title">My Projects</h2>
        {% include "projects", max_tags: 10, max_projects: 3, make_links = true %}
        <div class="button">
            <a href="{{ projects_nav_link }}">View All Projects</a>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact">
    <div class="section-container">
        <h2 class="section-title">Contact</h2>
        <form id="contact-form" class="contact-form flex-vertical" method="post" name="contact-form" action="https://formspree.io/f/xqknpbpj" onchange="validateForm()">
            <div class="contact-fields">
                <div class="contact-name-mail-box flex-horizontal">
                    <div class="contact-fields__field">
                        <div class="validation-warning">* Required Field</div>
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="contact-fields__field">
                        <div class="validation-warning">* Required Field</div>
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                </div>
                <div class="contact-fields__field">
                    <div class="validation-warning">* Required Field</div>
                    <input type="text" name="subject" id="subject" placeholder="Subject" />
                </div>
                <div class="contact-fields__field">
                    <div class="validation-warning">* Required Field</div>
                    <textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
                </div>
                <div class="form-actions flex-horizontal">
                    <input type="button" class="button" value="Send Message" onClick="submitForm()"/>
                    <input type="reset" class="button btn-secondary" value="Reset Form" onclick="resetForm()"/>
                </div>
            </div>
        </form>
    </div>
</section>