<section id="about" class="about-me">
    <div class="section-container flex-horizontal">
        <div class="profile-card flex-vertical">
            <img src="assets/images/profile_pic_trimmed.jpg" alt="" />
            <div class="profile-card__content">
                <h4>Lewis Chambers</h3>
                <p class="email">lewis.n.chambers@gmail.com</p>
                <div class="profile-card__content__social">
                    <a class="profile-card__content__social__link icon brands fa-linkedin-square" href="https://www.linkedin.com/in/lewis-chambers-181327131/">
                    </a>
                    <a class="profile-card__content__social__link icon brands fa-gitlab", href="https://www.gitlab.com/lewis-chambers"></a>
                </div>
            </div>
        </div>
        <div class="profile-about__content container flex-vertical">
            <h2 class="section-title">Who Am I?</h2>
            <p>Hello! I'm Lewis, a Software Engineer based in <strong>Reading, UK</strong> with a background in DevOps and Platform Engineering.</p>
            <p>I'm currently finishing my PhD in Power Electronics at <strong>Newcastle University, UK</strong> and looking for my next big challenge.</p>
            <p>Over the past 4 years I've been developing as a researcher, while also starting my career in DevOps as a Platform Engineer.</p>
        </div>
    </div>
</section>