{% include "helpers/nav-links" %}

<section id="footer">
<div class="section-container flex-horizontal">
    <div class="footer-col flex-vertical">
        <h4>Lewis Chambers</h4>
        <p>Portfolio Website</p>
    </div>
    <div class="footer-col flex-vertical">
        <h4>Explore</h4>
        <ul>
            <li><a href="{{ home_nav_link }}">Home</a></li>
            <li><a href="{{ about_nav_link }}">About</a></li>
            <li><a href="{{ skills_nav_link }}">Skills</a></li>
            <li><a href="{{ work_nav_link }}">Work</a></li>
            <li><a href="{{ projects_nav_link }}">Projects</a></li>
            <li><a href="{{ research_nav_link }}">Research</a></li>
            <li><a href="{{ contact_nav_link }}">Contact</a></li>
        </ul>
    </div>
    <div class="footer-col flex-vertical">
        <h4>Socials</h4>
        <div class="footer-socials">
            <a class="footer-socials__socail icon brands fa-linkedin-square" href="https://www.linkedin.com/in/lewis-chambers-181327131/"></a>
            <a class="profile-card__content__social__link icon brands fa-gitlab", href="https://www.gitlab.com/lewis-chambers"></a>
        </div>
    </div>
</div>
</section>