<div id="header">	
    <div class="container flex-vertical">
        <h1 class="header-title"><strong>{{ header_title }}</strong></h2>
        <h2 class="header-subtitle">{{ header_subtitle }}</h2>
    </div>
</div>