---
title: Lewis Chambers Portfolio
header_title: Dummy header
header_subtitle: Dummy subheader
---
{% include "helpers/nav-links.liquid" %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ base_nav_link }}assets/css/main.css" type="text/css" />
		<link rel="stylesheet" href="{{ base_nav_link }}assets/css/fontawesome-all.min.css" type="text/css" />
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="{{ base_nav_link}}assets/js/methods.js" type="text/javascript"></script>
	</head>
	<body class="is-preload">
		<!-- Navigation -->
		{% include "navigation", current: this_page %}
			<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
				<div id="main">
					{% include "header" %}
					{{ content }}
				</div>

				<!-- Footer -->
				{% include "footer", current: this_page %}
			</div>
	</body>
</html>
