{% include "helpers/nav-links" %}

<div id="topnav">
    <a id="logo" href="{{ home_nav_link }}" class="split-left"><span>Lewis Chambers</span></a>
    <div id="nav-right">
        <a onClick=navDropdownClicked() href="{{ work_nav_link }}"><span>Work</span></a>
        <a onClick=navDropdownClicked() href="{{ projects_nav_link }}"><span>Projects</span></a>
        <a onClick=navDropdownClicked() href="{{ research_nav_link }}"><span>Research</span></a>
        <a onClick=navDropdownClicked() href="{{ contact_nav_link }}"><span>Contact</span></a>
        <button onClick=navDropdownClicked()><span>&#9776</span></button>
    </div>
</div>