{% assign order = projects | sort: "date" | reverse %}
{% for project in order limit: max_projects %}
{% if project.url.size > 0 and make_links == true %}
    {% assign outer_tag = 'a href="' | append: project.url | append: '"' %}
{% else %}
    {% assign outer_tag = "div" %}
{% endif %}
<{{ outer_tag }} class="project-card">
    <h3 class="project-card__title">{{ project.name }}{% if project.date.size > 0 %}<span class="project-card__subtitle"> ({{ project.date }})</span>{% endif %}</h3>
    <h4 class="project-card__subtitle">{{ project.description }}</h4>
    {% if project.tags.size > 0 %}
    <div class="tech-tags flex-horizontal">
        {% for item in project.tags limit: max_tags %}
        <span class="tech__tag">{{ item }}</span>
        {% endfor %}
    </div>
    {% endif %}
</{{ outer_tag }}>
{% endfor %}