{% for job in work-experience limit: max_jobs %}
{% if job.url.size > 0 and make_links == true %}
    {% assign outer_tag = 'a href="' | append: job.url | append: '"' %}
{% else %}
    {% assign outer_tag = "div" %}
{% endif %}
<{{ outer_tag }} class="experience-card">
    <h3 class="experience-card__title">{{ job.company }}{% if job.location.size > 0 %}, {{ job.location }}{% endif %}</h3>
    <h4 class="experience-card__subtitle">{{ job.title }}{% if job.date_start.size > 0 %} ({{ job.date_start }} - {% if job.date_end.size > 0 %}{{ job.date_end }}{% else %}Current{% endif %}){% endif %}</h4>
    {% if job.roles.size > 0 and max_roles > 0 %}
    <ul class="experience-card__responsibilities">
    {% for item in job.roles limit:max_roles %}
        <li class="experience-card__responsibilities__item">{{ item }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if job.tags.size > 0 and max_tags > 0 %}
    <div class="tech-tags flex-horizontal">
        {% for item in job.tags limit:max_tags %}
        <span class="tech__tag">{{ item }}</span>
        {% endfor %}
    </div>
    {% endif %}
</{{ outer_tag }}>
{% endfor %}