@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

$nav-color: #3a323c;
$background-color: #1a1919;
$background-shift-color: $background-color;
$main-color: white;
$accent-color: #FF4533;
$accent-color2: #910813;

$button-secondary: #616060;

$topnav-height: 50px;

// Font Sizes

html, span, input, textarea, li, h4, #footer p {
    font-family: Verdana, sans-serif;
    font-size: clamp(10px, 3vmin, 18px);
}

h1 {
    font-size: clamp(20px, 10vmin, 50px);
}


h2 {
    font-size: clamp(10px, 7.5vmin, 40px);
}

#header h2 {
    font-size: clamp(10px, 5vmin, 25px);
}

h3 {
    font-size: clamp(10px, 5vmin, 20px);
}

.profile-card__content  h4, p {
    font-size: clamp(10px, 4vmin, 20px);
}

.icon {
    font-size: clamp(10px, 5vmin, 25px);
}

#topnav * {
    font-size: clamp(15px, 4vmin, 20px);
}

#nav-right button span {
    font-size: 20px;
}

input, textarea {
    border-style: none;
}

// General Styles

body {
    display: block;
    background-color: $background-color;
    overflow: auto;
    margin: 0;
    padding: 0;
}

#main, #wrapper {
    overflow: auto;
}

h1,h2,h3,h4, p, ul, li, quote {
    color: $main-color;
    font-family: Verdana, sans-serif;
    width: auto;
    margin: 0;
}

li {
    list-style-position: outside;
}

h2 {
    text-align: center;
    margin: 0 0 16px 0;
}

h4 {
    font-weight: bold;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $main-color;
}

button {
    border-style: none;
    color: $main-color;
}

strong {
    color: $accent-color;
}

section {
    padding: 0 5%;
    overflow: auto;
    position: relative;
    background-color: $background-color;
}

section:nth-child(odd) {
    background-color: $background-shift-color;
}

p .email {
    text-align: center;
}

// Icons
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    width: fit-content;
    margin: 0;
    font-family: 'Font Awesome 5 Brands';
}

.fa-linkedin-square {color: #0976b4}
.fa-gitlab {color: #e24329}

a.profile-card__content__social__link:hover {
    background-color: transparent;
}

#wrapper {
    padding-top: $topnav-height;
}

#topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: $nav-color;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    min-height: $topnav-height;
}

#topnav a, #nav-right button {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    width: fit-content;
    text-align: center;
    background-color: $nav-color;
    height: $topnav-height;
    padding: 0 8px;
}

#topnav > a:first-child, #nav-right > button {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: $topnav-height;
    margin: auto;
}

#topnav > a:first-child {
    left: 0;
}

#nav-right > button {
    right: 0;
    display: none;
    aspect-ratio: 1;
}


#nav-right {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: 0 6px 0 0;
}

#nav-right a:hover, #nav-right button:hover {
    background-color: $accent-color;
}

#logo {
    color: $accent-color;
    font-weight: bolder;
}

#logo:hover {
    background-color: $background-color;
}

#header {
    height: 50vh;
    min-height: fit-content;
    width: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50% 50%, grey, 20%, transparent 26%) ;
        background-size: 0.5em 0.5em;
        opacity: 1;
    background-color: $nav-color;
}

.container {
    width: fit-content;
    height: fit-content;
    overflow: auto;
}

#header .container {
    align-items: center;
    text-align: center;
    margin: 0;
    width: 95%;
    max-width: 600px;
}

.section-container   {
    margin: 32px 0;
    padding: 0;
    align-items: flex-start;
}

#main section:first-of-type {
    margin-top: 50vh
}
// #about {
//     margin-top: 50vh;
// }

#about .section-container {
    flex-wrap: nowrap;
    justify-content: center;
}

#about .section-container .profile-card, .profile-about__content  {
    flex-grow: 1;
}

#projects .button, #work .button {
    margin: 24px auto 0;
}
.section-title {
    width: max-content;
    margin: 0 auto 32px auto;
    border-color: $accent-color;
    border-style: none none solid none;
}


.header-title {
    margin: 0 0 24px 0;
}
.header-subtitle {
    width: 100%;
    max-width: 600px;
}

.profile-card {
    border-radius: 5%;
    height: fit-content;
    width: 50%;
    max-width: 400px;
    background-color: $nav-color;
    justify-items: center;
}

.profile-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.profile-card__content * {
    margin: 4px 0;
}

.profile-card__content__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}
.profile-card__content__social__link {
    width: fit-content;
    margin: 0 6px;
}
.profile-card__content  h4  {
    margin: 0;
}

.profile-about__content {
    width: 50%;
    min-width: 300px;
    margin: 0 0 0 16px;
}

.profile-about__content p:not(:last-child) {
    margin-bottom: 20px;
}

.profile-card img {
    width: 100%;
    border-start-start-radius: inherit;
}

.skills-container {
    margin: 32px 0 0 0;
}

.skills-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -8px;
}
.skills-subtitle {
    color: $accent-color;
    margin: 16px 0 8px 0;
}

.tech-tags {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    margin-top: 12px;
}

.tech__tag {
    display: block;
    background-color: $button-secondary;
    width: fit-content;
    height: fit-content;
    color: $main-color;
    padding: 2px 6px;
    margin: 8px 8px 0px 0px;
    border-radius: 10%;
}

.tech-tags {
    margin-top: -8px;
}

// Contact form
.validation-warning {
    color: transparent;
    margin-bottom: 3px;
}

.contact-form {
    width: 100%;
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
}

.contact-name-mail-box {
    width: 100%;
}

    
.contact-fields__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 12px 0;
    min-height: fit-content;
}

.contact-name-mail-box .contact-fields__field {
    flex-grow: 1;
    border-radius: 10px;
}

.contact-name-mail-box .contact-fields__field:first-child {
    margin-right: 16px;
}

.contact-fields__field input, textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 16px;
}

.contact-fields__field textarea {
    resize: vertical;
    min-height: 50px;
}

.form-actions {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.button {
    width: fit-content;
    margin: 6px 6px;
    padding: 6px 16px;
    background-color: $accent-color;
    border-style: none;
    border-radius: 999px;
    color: $main-color;
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: $accent-color2;
}

.btn-secondary {
    background-color: $button-secondary;
}

// Experience Card
.experience-card, .project-card, .research-card {
    background-color: $nav-color;
    width: 100%;
    padding: 5%;
    margin: 8px 0;
    box-sizing: border-box;
}

.experience-card__title, .project-card__title {
    color: $accent-color;
    margin: 0 0 8px 0;
}

.experience-card__subtitle, .project-card__subtitle {
    font-style: italic;
    color: $main-color;
    margin-bottom: 8px;
}

.experience-card__subtitle {
    margin-bottom: 12px;
}

.project-card__subtitle {
    font-weight: 500;
}

.experience-card__responsibilities {
    padding: 0;
    margin-left: 1em;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 8px;
}

.experience-card__responsibilities li:not(:last-child) {
    margin-bottom: 5px;
}

#footer {
    background-color: $nav-color;
}

#footer .section-container {
    justify-content: space-evenly;
    width: 100%;
}

#footer h4 {
    margin-bottom: 16px;
}

#footer ul {
    list-style: none;
    text-indent: 0;
    padding: 0;
    line-height: 1.5;
}

#footer p, #footer a {
    color: $accent-color;
}

#footer a:hover {
    color: $accent-color2;
}

a.experience-card:hover, a.project-card:hover, a.research-card:hover {
    background-color: $accent-color2;
}

// Utilities

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 770px) {
    #about .section-container {
        flex-wrap: wrap;
    }
    .profile-card {
        width: 100%;
    }
    
    .profile-about__content{
        margin: 64px 0 0;
        width: 100%;
    }

    #topnav {
        flex-direction: column;
        justify-content: center;

    }
    #topnav > a:first-child {
        margin-right: auto;
    }
    #nav-right {
        flex-direction: column;
        width: 100%;
        margin-top: $topnav-height;
    }
    #nav-right a:not(:last-child) {
        display: none;
        width: 100%;
    }

    #nav-right a.visible, #nav-right button {
        display: flex;
        justify-content: center;
    }

}