---
title: Work Experience | Lewis Chambers
layout: main-layout.liquid
this_page: experience
header_title: Professional Experience
header_subtitle: Full details of my work history
---

<!-- Work Experience -->
<section id="work">
    <div class="section-container flex-vertical">
        {% include "work-experience" max_roles: 100, max_tags: 100, make_links: true  %}
    </div>
</section>