---
layout: main-layout.liquid
title: Projects | Lewis Chambers
this_page: projects
header_title: Projects
header_subtitle: These are the projects I've worked on spanning many languages and frameworks
---

<!-- Projects -->
<section id="projects">
    <div class="section-container flex-vertical">
        {% include "projects", make_links: true %}
        <div class="button">
            <a href="https://gitlab.com/lewis-chambers">Join me on GitLab</a>
        </div>
    </div>
</section>