---
title: Research | Lewis Chambers
layout: main-layout.liquid
this_page: research
header_title: Research
header_subtitle: I'm active in the research community for Wave Energy and Direct Drive Generators, here are some of my papers
---

<!-- Research -->
<section id="research">
    <div class="section-container flex-vertical">
        {% assign papers = research | sort: "data[0].created.timestamp" | reverse %}
        {% for paper in papers %}
        <a href="{{ paper.data[0].URL}}" class="research-card">
            <quote class="research-list__item">{{ paper.citation }}</quote>
        </a>
        {% endfor %}
    </div>
</section>